# Frontend build output.
searchify-frontend/build/
searchify-frontend/node_modules/
searchify-frontend/.vs/
searchify-frontend/yarn-error.log

# Common python ignore
__init__.py
__pycache__/
.idea
venv

# API configuration. 
searchify/api/data/
searchify/api/src/tools/
searchify/api/celerybeat-schedule
searchify/api/KB/data-concept-instance-relations.tx

# Searchify crawler
searchifycrawler/items.json