# Frontend build output.
searchify/searchify-frontend/build/
searchify/searchify-frontend/.vs/
searchify/searchify-frontend/yarn-error.log
searchify/searchify-frontend/node_modules

# Common python ignore
__init__.py
__pycache__/
.idea
venv

# API configuration.
searchify/api/src/tools/
searchify/api/celerybeat-schedule
searchify/api/KB/data-concept-instance-relations.tx
